/bin/
/target/
/project/target/
/project/project/target/
/project/project/project/
.idea/
.classpath
.project
.cache-main
.cache-tests
.metadata/
.sass-cache/
.settings/
.tmpBin/
*.bak
*~
.ensime
.ensime_cache/
/data/
